<!DOCTYPE html>
<html>
<body>

<center>
	
	<h2>Lists </h2>
<ul>
  <li><a class="nav-link" href="/admin/adminlist">Admin</a></li>
  <li><a class="nav-link" href="">Resturant Owner</a></li>
  <li><a class="nav-link" href="">Volunteer</a></li>
  <li><a class="nav-link" href="">Event</a></li>
  <li><a class="nav-link" href="">Ranking</a></li>
</ul>  

</center>



</form>

</body>
</html>