<!DOCTYPE html>
<html>
<body>
<form method="post">
<center><textarea name="notice" rows="4" cols="50">



</textarea> </center>


<center><button class="navbar-toggler" type="submit" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
           submit </button></center>
</form>

</body>
</html>