<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <link rel="icon" href="/assets/images/signup.png">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/all.css">
    <link rel="stylesheet" href="/assets/css/lightbox.min.css">
    <link rel="stylesheet" href="/assets/css/venobox.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/media.css">
    <link rel="stylesheet" href="/assets/css/registration.css">
    <link rel="stylesheet" href="fontawesome/css/fontawesome.min.css" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/assets/js/signupv.js"></script>
</head>
<body>
<!------------header part start--------------->

<section class=" head">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="logo">
                <a class="navbar-brand" href="#"><img src="/assets/images/logo.png" width="70px" alt="logo"></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index#faq">Works </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index#contact">Features</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>
<!------------header part End--------------->
<!------------Form part start------------->
<div class="full_wrapper footer_bg">
    <div class="wrapper footer_main">
       <div class="work_head footer_head">
       </div>
            <table border="1" color="white">
              <tr>
                <th width = "20%"> <center> Event Name </center> </th>
                <th width = "30%"> <center> Event Date </center> </th>
                <th width = "40%"> <center> Event Post </center> </th>
                <th width = "50%"> <center> Event Location </center> </th> 
              </tr>

              <% for(var i=0; i < eventList.length; i++) { %>
                
              <tr>
                <th width = "20%"><center><%= eventList[i].eventname %></center></th>
                <th width = "30%"><center><%= eventList[i].eventdate %></center></th>
                <th width = "40%"><center><%= eventList[i].eventpost %></center></th>
                <th width = "50%"><center><%= eventList[i].location %></center></th>
              </tr>

              <% } %>

            </table>
    </div>
</div>

<!------------Form part End---------------->

<!-- validation-->

<!------------Footer part End------------------------->
  <!-- <script>
    var eye= document.getElementById('eye');
    eye.addEventListener('onclick',togglepass);

    function togglepass(){
       var x = document.getElementById('form_password');
       if(x.type==="password"){
        x.type="text";
        console.log(x.type);
       }else{
        x.type="password";
       }
    
    }
  </script> -->
    <script src="/assets/js/jquery-1.12.4.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/lightbox.min.js"></script>
    <script src="/assets/js/venobox.min.js"></script>
    <script src="/assets/js/isotope.pkgd.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/custom.js"></script>
</body>
</html>
