
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Extra Food Distribution Management System</title>
    <link rel="icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/all.css">
    <link rel="stylesheet" href="/assets/css/lightbox.min.css">
    <link rel="stylesheet" href="/assets/css/venobox.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/media.css">
    
</head>
<body>
<div class="preloder">
    <div id="main">
        <div class="round"></div>
    </div>
</div>
<!------------header part start--------------->
<section class=" head">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="logo">
                <a class="navbar-brand" href="#"><img src="/assets/images/logo.png" width="70px" alt="logo"></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#banner">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#faq">Works </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Features</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
</section>
    
<!------------header part End--------------->
<!------------banner part start------------->
<section class="banner" id="banner">
   <div class="slider_main">
       <div class="slider_item">
           <img src="/assets/images/img2.png" alt="img1">
       </div>
       <div class="slider_item">
           <img src="/assets/images/img1.jpg" alt="img1">
       </div>
       <div class="slider_item">
           <img src="/assets/images/img3.jpg" alt="img1">
       </div>
       <div class="slider_item">
           <img src="/assets/images/img4.jpg" alt="img1">
       </div>
       <div class="slider_item">
           <img src="/assets/images/img5.jpg" alt="img1">
       </div>
   </div>
    <div class="container slide_hed">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner_tex">
                    <form action="/signup">
                        <button type="submit">Signup Now</button>
                    </form>
                    <i class="fas fa-chevron-left left"></i>
                    <span>Left/Right</span>
                    <i class="fas fa-chevron-right right"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<!------------banner part End--------------->

<!------------About part start--------------->
<section class="about_bg" id="about">
        <div class="row m-auto">
            <div class="col-lg-6">
                <div class="abot">
                    <img src="/assets/images/img5.jpg" alt="img5">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="abot_text">
                    <h5>About us</h5>
                    <h2>Who we are</h2>
                    <p>
                    Our Website offers a novel approach to tackle food waste, by turning this environmental issue into an innovative solution to fight hunger through the redistribution of surplus food to welfare organisations that support people in need. Moving forward from existing food redistribution channels we seek to create a social movement for reducing food waste, by engaging all actors of the food waste cycle to become part of the solution.
                    <br>
                    The main mission is to provide a solution for reducing food waste. There are many organisations and grassroots communities that work towards this end but mainly based on a more traditional approach and without exploiting the power of online networks. This website offers a unique opportunity for them to make their activities more effective and increase their impact. 
                    </p>
                </div>
            </div>
        </div>
</section>
<!------------About part End----------------->
<!------------work part start---------------->
<section id="faq">
    <div class="container">
       
        <div class="row">
            <div class="col-lg-2">
            </div>
         <div class="col-lg-10">
             <div class="work">
           <h2>Our Works</h2>
            <div id="filters" class="button-group">  <button class="button is-checked" data-filter="*">show all</button>
              <button class="button" data-filter=".metal"> Recent Work</button>
              <button class="button" data-filter=".transition">Past Work</button>
              <button class="button" data-filter=".alkali, .alkaline-earth">Eid Work</button>
              <button class="button" data-filter=":not(.transition)">Donation Work</button>
              <button class="button" data-filter=".metal:not(.transition)">popular work</button>
            </div>
            
            <div class="grid">
          <div class="element-item transition metal " data-category="transition">
           <img src="/assets/images/one.jpg" alt="two">
           <div class="overlay o_inner">
                  <a href="/assets/images/img1.jpg" data-lightbox="image-1" data-title="My caption"><i class="fas fa-search-plus"></i></a>
                  <i class="fas fa-link"></i>   
            </div>
          </div>
          <div class="element-item metalloid " data-category="metalloid">
           <img src="/assets/images/two.jpg" alt="two">
           <div class="overlay o_inner">
                  <a href="/assets/images/twoe.jpg" data-lightbox="image-1" data-title="My caption"><i class="fas fa-search-plus"></i></a>
                  <i class="fas fa-link"></i>   
            </div>
          </div>
          <div class="element-item post-transition metal " data-category="post-transition">
            <img src="/assets/images/three.jpg" alt="two">
            <div class="overlay o_inner">
                  <a href="/assets/images/threee.jpg" data-lightbox="image-1" data-title="My caption"><i class="fas fa-search-plus"></i></a>
                  <i class="fas fa-link"></i>   
            </div>
          </div>
          <div class="element-item post-transition metal " data-category="post-transition">
            <img src="/assets/images/four.jpg" alt="six">
            <div class="overlay o_inner">
                  <a href="/assets/images/foure.jpg" data-lightbox="image-1" data-title="My caption"><i class="fas fa-search-plus"></i></a>
                  <i class="fas fa-link"></i>   
            </div>
          </div>
          <div class="element-item transition metal " data-category="transition">
            <img src="/assets/images/five.jpg" alt="five">
            <div class="overlay o_inner">
                  <a href="/assets/images/fivee.jpg" data-lightbox="image-1" data-title="My caption"><i class="fas fa-search-plus"></i></a>
                  <i class="fas fa-link"></i>   
            </div>
          </div>
          <div class="element-item alkali metal " data-category="alkali">
            <img src="/assets/images/six.jpg" alt="foure">
            <div class="overlay o_inner">
                  <a href="/assets/images/sixe.jpg" data-lightbox="image-1" data-title="My caption"><i class="fas fa-search-plus"></i></a>
                  <i class="fas fa-link"></i>   
            </div>
          </div>
            <div class="element-item transition metal " data-category="transition">
                <img src="/assets/images/seven.jpg" alt="three">
                <div class="overlay o_inner">
                  <a href="/assets/images/sevene.jpg" data-lightbox="image-1" data-title="My caption"><i class="fas fa-search-plus"></i></a>
                  <i class="fas fa-link"></i>   
            </div>
          </div>
          <div class="element-item alkali metal " data-category="alkali">
            <img src="/assets/images/eight.jpg" alt="two">
            <div class="overlay o_inner">
                  <a class="venobox" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=fTBA79HAC2M"><i class="fas fa-play" id="play"></i></a>
                  <i class="fas fa-link"></i>   
            </div>
          </div>
        </div>
        </div>
         </div>
        </div>
    </div>
</section>
<!------------Banner2 part End-------------------->
<!------------Service part Start-------------------->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="service2_head">
                    
                    <h2>Our Core features</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="service2_icon">
                                <i class="fas fa-anchor"></i>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="service2_tex">
                                <h5>Admin</h5>
                                <p>Normal Admin needs approval from Super Admin. Super Admin can change a normal admin into super admin.Admin can put any urgent notice on the website.Admin Can delete posted notice.Admin can reject or approve volunteers after registration. Admin can reject or approve restaurant owner after registration.Admin needs to approve post after owner posting them</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="service2_icon">
                                <i class="fas fa-anchor"></i>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="service2_tex">
                                <h5>Owner</h5>
                                <p>Owners can update information in the system.Owners can write the post for extra food.Owners can see the accept/reject notification of the volunteers.Owners can delete information in the system.Owners can insert new information in the system.Owners can delete any restaurant post.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="service2_icon">
                                <i class="fas fa-anchor"></i>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="service2_tex">
                                <h5>Volunteer</h5>
                                <p>Volunteer can update information in the system.Volunteer can accept the restaurants post.Volunteer can get the notification of the new post of the restaurant’s owner.Volunteer can search restaurants post accordingly to their zone.Volunteer can delete information in the system.Volunteer can insert new information in the system.Volunteer can see all the rankings of the restaurants.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row mt-5">
                        <div class="col-lg-3">
                            <div class="service2_icon">
                                <i class="fas fa-anchor"></i>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="service2_tex">
                                <h5>Event Manager</h5>
                                <p>Can create an event.Delete event.Post on event.Voting Result publication.Updating event information.Complete event status.Contributor (restaurant owner) ranking update.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row mt-5">
                        <div class="col-lg-3">
                            <div class="service2_icon">
                                <i class="fas fa-anchor"></i>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="service2_tex">
                                <h5>General User</h5>
                                <p>Can see all the event.Can vote for the event.Can post on the event.Can offer new event.Can like the event.Can Comment the event.Can share the event.</p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!------------Service part End---------------------->
<!------------Patnars part Start--------------------->
<section class="patners_bg" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="paterns_text">
                    <h5>Who keeps trust</h5>
                    <h2>Partners</h2>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                       <div class="paterns_main">
                           <div class="paterns_items">
                               <img src="/assets/images/p.logo.jpg" alt="">
                           </div>
                           <div class="paterns_items">
                               <img src="/assets/images/p.logo1.jpg" alt="">
                           </div>
                           <div class="paterns_items">
                               <img src="/assets/images/p.logo2.jpg" alt="">
                           </div>
                           <div class="paterns_items">
                               <img src="/assets/images/p.logo3.jpg" alt="">
                           </div>
                       </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>

<!------------Patnars part End----------------------->
<!------------Footer part Start----------------------->
<section>
    <div class="container" >
        <div class="row">
            <div class="col-lg-8">
                <div class="footer">
                    <h2>Call Us @00-0000000</h2>
                    <p>Enjoy our 24/7 support</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!------------Footer part End------------------------->

    <script src="/assets/js/jquery-1.12.4.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/lightbox.min.js"></script>
    <script src="/assets/js/venobox.min.js"></script>
    <script src="/assets/js/isotope.pkgd.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/custom.js"></script>

</body>
</html>