<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="icon" href="/assets/images/logo.png">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/all.css">
    <link rel="stylesheet" href="/assets/css/lightbox.min.css">
    <link rel="stylesheet" href="/assets/css/venobox.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/media.css">
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="stylesheet" href="fontawesome/css/fontawesome.min.css" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/assets/js/loginv.js"></script>
</head>
<body>
<!------------header part start--------------->

<section class=" head">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="logo">
                <a class="navbar-brand" href="#"><img src="/assets/images/logo.png" width="70px" alt="logo"></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index#faq">Works </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index#contact">Features</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>
<!------------header part End--------------->
<!------------Form part start------------->
<div class="full_wrapper footer_bg">
        <div class="wrapper footer_main">
           <div class="work_head footer_head">
               <center><h2>Login</h2></center>
            
            </div>
            <div class="form">
                <form id="login_form" method="post">
                    <div>
                    <input type="text"  id="form_uname"  placeholder="Username" name="username" required=""  >
                    <span class="error_form" id="uname_error_message"></span>
                     </div>
                    <i class="fa fa-eye" id="eye" onclick="togglepass()"></i>
                    <input type="password" id="pass" placeholder="Password"  name="password" required="">
                    <span class="error_form" id="pass_error_message"></span>
                    <button type="submit" id="submit" value="login">Login</button>
                
                <p><font color="#fff">Not a member?</font></p> 
                <a href="/signup"><font color="#fff">Sign Up!!</font></a>
                <br>
                <a href=""><font color="#fff">Forgot Pasword??</font></a>
                </form>
            </div>
        </div>
    </div>

<!------------Form part End---------------->

<!-- validation-->

<!------------Footer part End------------------------->
  <script>
    var eye= document.getElementById('eye');
    eye.addEventListener('onclick',togglepass);

    function togglepass(){
       var x = document.getElementById('pass');
       if(x.type==="password"){
        x.type="text";
        console.log(x.type);
       }else{
        x.type="password";
       }
    
    }
  </script>
    <script src="/assets/js/jquery-1.12.4.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/lightbox.min.js"></script>
    <script src="/assets/js/venobox.min.js"></script>
    <script src="/assets/js/isotope.pkgd.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/custom.js"></script>
</body>
</html>