<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup Form</title>
    <link rel="icon" href="/assets/images/signup.png">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/all.css">
    <link rel="stylesheet" href="/assets/css/lightbox.min.css">
    <link rel="stylesheet" href="/assets/css/venobox.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/media.css">
    <link rel="stylesheet" href="/assets/css/registration.css">
    <link rel="stylesheet" href="fontawesome/css/fontawesome.min.css" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/assets/js/signupv.js"></script>
</head>
<body>
<!------------header part start--------------->

<section class=" head">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="logo">
                <a class="navbar-brand" href="#"><img src="/assets/images/logo.png" width="70px" alt="logo"></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">

                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Signup</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="/#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#faq">Works </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="/#contact">Features</a>

                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>
<!------------header part End--------------->
<!------------Form part start------------->
<div class="full_wrapper footer_bg">
        <div class="wrapper footer_main">
           <div class="work_head footer_head">
               <center><h2>Sign Up!</h2></center>
            
            </div>

       <div class="form">
        <form id="registration_form" method="post">
            <div>
                <input type="text" id="form_fname" placeholder="Enter Your First Name" name="firstname" required="">
                <span class="error_form" id="fname_error_message"></span>   
            </div>
            <div>
                <input type="text" id="form_sname" name="lastname" placeholder="Enter Your Second Name" required="">
                <span class="error_form" id="sname_error_message"></span>   
            </div>
            <div>
                <input type="text" id="form_uname" name="username" placeholder="Enter Your UserName" required="">
                <span class="error_form" id="uname_error_message"></span>   
            </div>
            <div>
                <input type="email" id="form_email" placeholder="Enter Your Email" name="email" required="">
                <span class="error_form" id="email_error_message"></span>
                
            </div>
            <div>
                <input type="text" id="form_phoneno" placeholder="Enter Your Phone Number" name="phoneno" required="">
                <span class="error_form" id="phoneno_error_message"></span>
    
            </div>
            <div>
                <input type="text" id="form_area" placeholder="Enter Your Area" name="area" required="">
                <span class="error_form" id="area_error_message"></span>
    
            </div>
            <div id="form_usertype">
                <font color="#fff" style="width:0px">Select Usertype:</font>
                <input type="radio" id="owner" style="width:0px" name="usertype" value="owner" required="" ><font color="#fff">Owner</font>
                <span class="error_form" id="usertype_error_message"></span>

                <input type="radio" id="admin" style="width:0px" name="usertype" value="admin" required="" ><font color="#fff">Admin</font>
                <span class="error_form" id="usertype_error_message"></span>
                <input type="radio" id="volunteer" style="width:0px" name="usertype" value="volunteer" required="" ><font color="#fff">Volunteer</font>
                <span class="error_form" id="usertype_error_message"></span>
                <input type="radio" id="eventmanager" style="width:0px" name="usertype" value="eventmanager" required="" ><font color="#fff">Event Manager</font>
                <span class="error_form" id="usertype_error_message"></span>
                <input type="radio" id="generaluser" style="width:0px" name="usertype" value="generaluser" required="" ><font color="#fff">GeneralUser</font>
                <span class="error_form" id="usertype_error_message"></span>

            </div>
            <i class="fa fa-eye" id="eye" onclick="togglepass()"></i>
                <input type="password" id="form_password" placeholder="Enter Your Password" name="password" required="">
                <span class="error_form" id="password_error_message"></span>

            <div>
                <input type="password" id="form_retype_password" placeholder="Re-Enter Your Password" name="c_password" required="">
                <span class="error_form" id="retype_password_error_message"></span>    
            </div>
             <button type="submit" id="submit" value="Register">Signup</button>
        </form>
</div>
        </div>
    </div>

<!------------Form part End---------------->

<!-- validation-->

<!------------Footer part End------------------------->
  <script>
    var eye= document.getElementById('eye');
    eye.addEventListener('onclick',togglepass);

    function togglepass(){
       var x = document.getElementById('form_password');
       if(x.type==="password"){
        x.type="text";
        console.log(x.type);
       }else{
        x.type="password";
       }
    
    }
  </script>
    <script src="/assets/js/jquery-1.12.4.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/lightbox.min.js"></script>
    <script src="/assets/js/venobox.min.js"></script>
    <script src="/assets/js/isotope.pkgd.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/custom.js"></script>
</body>
</html>
