<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage-Volunteer</title>
    <link rel="icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/all.css">
    <link rel="stylesheet" href="/assets/css/lightbox.min.css">
    <link rel="stylesheet" href="/assets/css/venobox.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/media.css">
    <link rel="stylesheet" href="fontawesome/css/fontawesome.min.css" >
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
</head>
<body>
<!------------header part start--------------->

<section class=" head">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="logo">
                <a class="navbar-brand" href="#"><img src="/assets/images/logo.png" width="70px" alt="logo"></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/volunteer">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/volunteer/notification">Notification</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/volunteer/ranking">Ranking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/volunteer/acceptedpost">Accepted Post </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/volunteer/vote">Vote</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/volunteer/profile">Profile</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="/logout">logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>
<!------------header part End--------------->

<!------------table part start------------->
<br>
<br>
<br>
<br>
<br>
<br>

<table class="w3-table-all">
    <thead>
      <tr class="w3-light-grey w3-hover-blue">
        <th>Restaurant Name</th>
        <th>Restaurant Post</th>
        <th>Actions</th>
      </tr>
    </thead>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <input type="button" class="w3-button w3-gray" value="request">
                        <input type="button" class="w3-button w3-gray" value="cancel">
                    </td>
                  </tr>
                  
  </table>
</div>

<!------------table part End---------------->


<!------------Footer part End------------------------->
  
    <script src="/assets/js/jquery-1.12.4.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/lightbox.min.js"></script>
    <script src="/assets/js/venobox.min.js"></script>
    <script src="/assets/js/isotope.pkgd.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/custom.js"></script>
</body>
</html>