<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" href="/assets/css/search.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script  type="text/javascript" src="/assets/js/typeahead.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('input.typeahead').typeahead({
        name: 'countries',
        remote: 'http://localhost:3000/volunteer/search?key=%QUERY',
        limit: 10
    });
});
</script>
</head>
<body>
<h2> volunteer list</h2>
<% for(var i=0; i < userList.length; i++) { %>


<ol>
  <li><%= userList[i].username %></li>

 </ol>

 <% } %>
  <div class="page-header">
        <h1>Search for volunteers</h1>
    </div>
    <div class="bs-example">
        <input type="text" name="typeahead" class="typeahead tt-query" autocomplete="off" spellcheck="false" placeholder="Type the name">
    </div>

</body>
</html>