<!DOCTYPE html>
<html>
<body>
<center>
	<table border="1">
            <tr>
                <th width="30%"><center>Notice</center></th>
        
                <th width="40%"><center>update</center></th>
                <th width="50%"><center>delete</center></th>
               
            </tr>
   <% for(var i=0; i < userList.length; i++) { %>
            <tr>
                <th width="30%"><center><%= userList[i].post %></center></th>               
                <td width="40%"><center><a href="/superadmin/noticeupdated/update/<%= userList[i].id %>">update</a></center></td>
                <td width="50%"><center><a href="/superadmin/noticeupdated/delete/<%= userList[i].id %>">delete</a>
            </td></td>
              
            </tr>
     <% } %>
        </table>
    </center>

</body>
</html>



<!--  <% for(var i=0; i < userList.length; i++) { %>
                        <div class="col-lg-3" style="float: left;">
                            <p><%= userList[i].post %></p>
                        </div>
                      <% } %> -->